<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/character.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (chars.length > 0) { %>
            <div class="character-form">
                <% for (let character of chars) { %>
                    <article class="character-<%= character.classType %>">
                        <header class="character__header">
                            <h1 class="character__name">
                                <%= character.name %>
                            </h1>
                        </header>
                        <div class="character__imageContainer">
                            <img src="<%= character.imageUrl %>" alt="<%= character.name %>">
                        </div>
                        <div class="character__class">
                            <h2 class="character__classType">
                                Class: <%= character.classType %>
                            </h2>
                        </div>
                        <div class="character__level">
                            <h3 class="character__level">
                                Level: <%= character.level %>
                            </h3>
                        </div>
                        <div class="character__actions">
                            <a href="/character/<%= character.id %>" class="btn-left">Details</a>
                            <form action="/character-details" method="POST">
                                <button class="btn-right">Select</button>
                            </form>
                        </div>
                    </article>
                    <% } %>
            </div>
            <% } else { %>
                <main class="background">
                        <div>
                            <article class="card">
                                <h1 class="card__msg">No Characters Found!</h1>
                            </article>
                        </div>
                    </main>
            <% } %>
    </main>
    <%- include('../includes/end.ejs') %>