<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <article class="small-form">
            <h1 class="form-title">Enter Character Details</h1>
            <form class="character-form" action="/<% if(editing) { %>edit-character<% } else { %>add-character<% } %>" method="POST">
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="<% if(editing) { %><%=character.name %><% } %>">
                </div>
                <div class="form-control">
                    <label for="classType">Class</label>
                    <input type="text" name="classType" id="classType" value="<% if(editing) { %><%=character.classType %><% } %>">
                </div>
                <div class="form-control">
                    <label for="imageUrl">Image URL</label>
                    <input type="url" name="imageUrl" id="imageUrl" value="<% if(editing) { %><%=character.imageUrl %><% } %>">
                </div>
                <div class="form-control">
                    <label for="level">Level</label>
                    <input type="number" name="level" id="level" value="<% if(editing) { %><%=character.level %><% } %>">
                </div>
                <% if (editing) { %>
                    <input type="hidden" value="<%= character.id %>" name="charId">
                <% } %>
                <button class="btn" type="submit"><% if (editing) { %>Update Character<% } else { %>Add Character<% } %></button>
            </form>
        </article>
    </main>
    <%- include('../includes/end.ejs') %>