<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="centered">
    <div class="sheet">
      <h1><%= char.name %></h1>
      <hr>
      <div class="image">
        <img src="<%= char.imageUrl %>" alt="<%= char.name %>">
      </div>
      <h2>Class: <%= char.classType %></h2>
      <h3>Level: <%= char.level %></h3>
      <hr>
      <form class="inline" action="/edit-character/<%= char.id %>" method="GET">
        <button class="btn" type="submit">Edit</button>
      </form>
      <form class="inline" action="/delete-character/<%= char.id %>" method="POST">
        <button class="btn" type="submit">Delete</button>
      </form>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
